# Compiled source #
###################
*.exe
main
*.o



# Temporary files #
###################
structure_auto.xmi
*~
.directory
*.save
log.txt
tests.txt
paper.pdf

# Project files #
#################
Genetic-Algorithms.layout
Genetic-Algorithms.depend
bin/
*.user

# Documentation files #
#######################
html/
latex/
# documentation/
