# Compiled source #
###################
*.exe

*.o



# Temporary files #
###################
structure_auto.xmi
*~

*.save

# Project files #
#################
Genetic-Algorithms.layout
Genetic-Algorithms.depend

