# Compiled source #
###################
*.exe
main
*.o



# Temporary files #
###################
structure_auto.xmi
*~
.directory
*.save
log.txt

# Project files #
#################
Genetic-Algorithms.layout
Genetic-Algorithms.depend
bin/

# Documentation files #
#######################
html/
latex/
documentation/